<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<!--<li><a href="/news">News</a></li>-->
        		<li><a href="https://docs.google.com/viewer?url=${https://github.com/ievred/ievred.github.io/blob/master/cv/cv_redko_en.pdf}">CV</a></li>
        		<li><a href="/pubs">Publications</a></li
    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="mailto:onenurd@gmail.com">email</a></li>
        		<li><a href="https://github.com/ievred">github.com/ievred</a></li>
			    </ul>
			</footer>
		</body>
	</html>
