<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<!--<li><a href="/news">News</a></li>-->
        		<li><a href="https://github.com/ievred/ievred.github.io/blob/master/cv/CV.pdf">CV</a></li>
        		<li><a href="/pubs">Publications</a></li
			<li><a href="/talks">Talks</a></li
			<li><a href="/teach">Teaching</a></li
    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="mailto:ievgen.redko@univ-st-etienne.fr">email</a></li>
        		<li><a href="https://github.com/ievred">github.com/ievred</a></li>
			<li><a href="https://twitter.com/IevgenRedko">twitter.com/IevgenRedko</a></li>
			    </ul>
			</footer>
		</body>
	</html>
